/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000;
  --red: #f44336;
  --dark-blue: #1d2d44;
  --light-blue: #748cab;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}

h3 {
  color: var(--light-blue);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* ====================================
// base rules
// ==================================== */
